header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cc881b;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  color: #FFFFFF;
  
}

header > div, header > div > h2, header > div > img {
  padding: 0;
  margin: 0;
}

